body {
  font-family: Arial, sans-serif;
  margin: 1em;
  padding: 1em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
}

h1 {
  font-size: larger;
}